#main-info-content{
    height: 100vh;
}
.carousel-item{
    height: 40vh;
}
.carousel-indicators button{
    height: 10px!important;
    width: 10px!important;
    border-radius: 100%;
}
#arrow-up{
    color: var(--color-6);
    border:3px solid var(--color-7);
    border-radius: 100%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
#arrow-up:hover,
#search-icon:hover{
    cursor: pointer;
}
#arrow-up .bi-arrow-up{
    font-size: 2em;
}
/*Small devices*/
@media (max-width: 576px) { 
    #main-info-content{
        width: 90%;
        margin: auto;
    }
    #carousel{
        margin-top: 5%;
    }
    #arrow-up{
        display: none;
    }
}

/*Medium devices*/
@media (min-width:577px) and (max-width: 991px) {

}

/*Large devices*/
@media (min-width: 992px) {
    #main-info-content{
        width: 100%;
    }
}


