h2 {
    font-weight: bold;
    margin: 12px;
    color: var(--color-4);
}
.mainContainer{
    display: flex;
    flex-direction: column;
}
.adminSection{
    display: flex;
    flex-direction: column;
}
.adminSection h2{
    text-align: center;
}
.adminDetails {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
}
.adminPhoto{
    opacity: 0.3;
    max-width: 28%;
}
.adminDetails form {
    border: 2px solid var(--color-1);
    border-radius: 13px;
    max-width: 58%;
    height: auto;
    padding: 18px 8px;
}
.bi-pencil-fill{
    color: var(--color-4);
    font-size: larger;
}
.pencilOnInput{
    position: relative;
}
.pencilIcon{
    position: absolute;
    top: 25%;
    left: 85%;
}
.infoProduct .bi-pencil-fill{
    margin-left: 10px;
}
.adminDetails form input{
    background-color: var(--amarilloClaro);
    border: none;
    border-radius: 13px;
    width: 100%;
    height: 2.5rem;
    margin: 10px 2px;
    padding: 2px;
}
.adminBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    color: var(--color-2);
    margin: 15px 2px;
}
.adminBtns a{
    border-radius: 5px;
    background-color: var(--color-1);
    text-align: center;
    width: 10rem;
    height: 2rem;
    padding: 1px 3px;
    box-shadow: 5px 5px 4px var( --bs-gray-400);
}
 /*PRODUCTS*/

.productsSectionHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    border-top: 2px solid var(--color-1);
    border-bottom: 2px solid var(--color-1);
    padding: 8px 1px 18px 1px;
}
.productsSectionHeader div{
    display: flex;
}
.productsSectionHeader input{
    margin-right: 1rem;
    width: 60%;
    border: none;
    border-bottom: 2px solid var(--color-4);
}
.productsSectionHeader button{
    border: none;
}
.productsSectionHeader button i{
    color: var(--color-4);
    font-weight: bolder;
    font-size: 1.5rem;
}
.productAdmin{
    margin: 25px auto;
    padding: 15px;
    width: 90%;
    border-radius: 14px;
    background-color: var(--amarilloClaro);
    box-shadow: 5px 5px 4px var( --bs-gray-400);
    
}
.imageProduct{
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
}
.productPhoto{
    width: 30%;
    height: auto;
    margin: 15px;
}
.infoProduct{
    margin: 10px 2px;
}
.infoProduct label{
    margin-right: 65%;
}
.infoProduct input {
    width: 80%;
    height: 2rem;
    border: none;
    border-radius: 12px;
}
.productBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 2px;
}
.productBtn input{
    background-color: var(--color-1);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 4px var( --bs-gray-400);
    color: white;
    height: 2rem;
    width: 10rem;
    font-weight: 600;
}
.productBtn button{
    border: none;
    background-color: var(--amarilloClaro);
    color: red;
    font-size: 2rem;
    margin: 0;
}
@media (min-width: 1024px) {
    .mainContainer{
        flex-direction: row;
    }
    
}