@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
:root {
  --color-1: #6fb6f8;
  --color-2: white;
  --color-3: #f8f9ff;
  --color-4: #01215c;
  --color-5: #878585;
  --color-6: #2e92ef;
  --color-7: #f1dd3c;
  --color-8: #fffbd2;
  --amarilloClaro: #FFFBD2;
}

* {
  font-family: "Indie Flower" !important;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  position: relative;
}
a{
  text-decoration: none;
}
a.titleMundoAnimal{
  color: white;
}

