#main-form-container button{
    background-color: var(--blue-light-1);
    border: none;
    margin: auto;
}
#main-form-container form{
    border: 2px solid var(--blue-light-1);
    border-radius: 15px;
}
#main-form-container{
    margin: auto;
}
#main-form-container form input,
#main-form-container form textarea{
    background-color: var(--yellow-light-2);
}
#main-form-container form label{
    color: var(--blue-dark-1);
    font-weight: bold;
}
#contact-title{
    color: var(--blue-dark-1);
    font-weight:bold;
    text-align: center;
}
.form-control{
    width: 100%;
}
#main-form-container form button{
    box-shadow: 5px 5px 4px var( --bs-gray-400);
    font-weight: bold;
    letter-spacing: 2px;
}
#main-form-container form button:hover{
    background-color: var(--blue-dark-1);
    color:var(--bs-yellow);
}


@media (max-width: 575px){
    #main-form-container{
        margin:5% auto;
    }
    #main-form-container form{
        margin:2% 0;
        padding: 5% 0;
    }
    #main-form-container form label{
        display: none;
    }
    #main-form-container form div{
        margin: 5% auto;
    }
    #contact-title{
        font-size: 1.4em;
        margin-top: 3%;
    }
    #main-form-container form button{
        margin-top: 5%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #main-form-container{
        margin:2% auto;
    }
    #main-form-container form{
        margin:2% 0;
        padding: 2% 0;
    }
    #main-form-container form label{
        display: none;
    }
    #main-form-container form div{
        margin: 5% auto;
    }
    #contact-title{
        font-size: 1.7em;
        margin-top: 3%;
    }
    #main-form-container form button{
        margin-top: 5%;
        margin-bottom: 3%;
    }
  }
  /*medium-devices*/
  @media (min-width: 768px) and (max-width: 991px) {
    #main-form-container{
        margin:2% auto;
    }
    #main-form-container form{
        margin:1% 0;
        padding: 1% 0;
    }
    #main-form-container form label{
        margin-top: 5%;
    }
    #contact-title{
        font-size: 1.7em;
        margin-top: 2%;
    }
    #main-form-container form button{
        margin-top: 5%;
        margin-bottom: 3%;
    }
    
  }
  /*large-devices*/
  @media (min-width: 992px) {
    #main-form-container{
        margin:1% auto;
    }
    #main-form-container form{
        margin-top:1%;
        margin-bottom: 3%;
        padding: 2%  0;
    }
    #main-form-container form label{
        margin-top: 2%;
        font-size:1.2em;
    }
    #contact-title{
        font-size: 2em;
    }
    #main-form-container form button{
        margin-top: 5%;
        margin-bottom: 3%;
    }
     
  }
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  /*extra-large-devices*/
  @media (min-width: 1200px) and (max-width: 1399px) {
  }
  /*extra-extra-large-devices*/
  @media (min-width: 1400px) {
    
  }