#main-footer {
  background-color: var(--blue-dark-1);
  border-radius: 15px 15px 0 0;
}
#main-footer h5,
#social-footer,
#social-footer i {
  color: var(--blue-light-2);
}
#main-footer hr {
  color: var(--gray-1);
  border-width: 2px;
}
#main-footer  a:hover{
  color: var(--bs-gray-400);
}

/*x-small-devices*/
@media (max-width: 575px) {
  #map-location {
    width: 360px;
    height: 360px;
    display: block;
  }
  #main-footer {
    padding: 20px 0;
  }
  #main-footer > div:nth-child(1) div {
    margin: 5px 0;
  }
  #main-footer > div:nth-child(1) div li {
    margin: 10px 0;
  }
  #main-footer h5,
  #main-footer a {
    text-align: center;
  }
  #main-footer h5 {
    font-size: 2em;
  }
  #main-footer a {
    font-size: 1.7em;
  }
}
/*small-devices*/
@media (min-width: 576px) and (max-width: 767px) {
  #map-location {
    width: 500px;
    height: 350px;
  }
  #main-footer{
    padding-top: 7%;
  }
  #main-footer:first-child {
    padding: 2% 0;
    margin: 20px 0;
  }
  #main-footer div:nth-child(4){
    margin-top: 2%;
  }
  
}
/*medium-devices*/
@media (min-width: 768px) and (max-width: 991px) {
  #main-footer{
    padding-top: 5%;
  }
  #map-location{
    width: 400px;
    height: 350px;
  }
  #main-footer div:nth-child(4){
    margin-top: 3%;
  }
  #main-footer a {
    font-size: 1.2em;
  }
}
/*large-devices*/
@media (min-width: 992px) {
  #main-footer {
    padding-top: 3%;
  }
  #main-footer hr {
    margin: 2% 0;
  }
  #main-footer h5 {
    font-size: 1.5em;
  }
  #main-footer a {
    font-size: 1.3em;
  }
  #map-location {
    width: 600px;
    height: 450px;
  }
  #social-footer {
    padding: 0 3%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #map-location {
    width: 400px;
    height: 350px;
    margin-top: 13px;
  }
}
/*extra-large-devices*/
@media (min-width: 1200px) and (max-width: 1399px) {
  #map-location {
    width: 550px;
    height: 450px;
  }
}
/*extra-extra-large-devices*/
@media (min-width: 1400px) {
  #map-location {
    width: 400px;
    height: 350px;
    margin-top: 13px;
  }
}
